.error404{
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error404 h1{
    font-size: 60px;
}
.error404 h2{
    font-size: 40px;
}