body {
  text-align: center;
  margin: 0px;
  padding: 0px;

  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #61dafb;
}

.center{
  width: 90%;
  margin: 0px auto;
}


#logo {
  width: 20%;
  font-size: 30px;
  margin-top: 35px;
}

#logo img {
  display: block;
  height: 60px;
  margin-top: -9px;
  margin-right: -10px;
  
}

#brand {
  display: block;
  
  margin: 0px;
  
}

#menu{
  
  
  width: 100%;
  font-size: 17px;
}

#menu ul{  
  line-height: 85px;
  
}

#menu ul li{
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 5px;
}

#menu ul li a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}


#menu a:hover{
  color: #3cb2d3;
}


  