*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  text-align: center;


  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

header {
  
  height: 100px;
  width: 100%;
  background: whitesmoke;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-decoration: none;
}
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

}
.logo{
  align-items: center;
  font-size: 25px;
  color:black;
  font-weight: 100;
  
}

.menu{
  display: flex;
}

.menu li{
  display: inline-block;
  list-style: none;
  margin: 10px; 
  
}

.menu li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 300ms all;
}


.menu li a:hover{
  padding: 5px 10px;
  background: #61dafb;
  color: blue;
  border-radius: 15px;
}
.carrito{
  list-style: none;
  display: flex;

  
  margin: 0;
  padding: 0;
  
}

.imgCarrito{
  display: inline-block;
  width: 50px;
  padding-right: 10px;
  
  
}
.nroItem{
  text-align: center;
  color: gray;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: red;
}

.itemCount{
  border-color: rgb(110, 104, 104);
  border-style: solid;
  opacity: 1;
  margin-top: 10px;
  margin-left: 180px;
  margin-right: 50px;
  margin-bottom: 10px;
  align-items: center;
  background-color: whitesmoke;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;

  
}
.itemCount p {
  font-size: xx-large;
  font-weight: 300;
  color:black;
}
.itemCount button {
  width: 60px;
  border: 1px;

}
#largeButton{

  height: auto;
  width: auto;
  border-color: rgb(110, 104, 104);
  border-style: solid;
    
}
#numberButton{

  height: auto;
  width: 50px;
  border-color: rgb(110, 104, 104);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
  
    
}
.imagen{

  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.movie{
  height: calc(100vh-64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.movie_dark div {


  padding-top:0;
  position: relative;
  
  top: -100px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;

}

.resumen{
  z-index: 2;
  color: #000 !important;
}


.ant-row{

  height: 550px;
  display: flex;
  align-items: center;
}

.movie_poster {
  padding-top: 0;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.movie_info {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 10px;
  opacity: 0.65;
  z-index: 1;
  justify-items: center;

}
.contador{
  z-index: 2;
}

.formulario{
  padding-top: 10px;
  padding-bottom: 10px;
}
.formulario input{
  display: block;
  width: 250px;
  border-radius: 5px;
  margin-left: 20px;
}

  